*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#55567d;
}

/* Header */
header{
    background:linear-gradient(to right,#2995b8,#74c7df);
    text-align:center;
    padding:30px;
    color:white;
    border-bottom:2px solid #222;
}

header h1{
    font-size:45px;
    text-shadow:2px 2px 3px black;
}

header p{
    margin-top:10px;
    font-size:16px;
}

main{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:420px;
}

.card{
    width:480px;
    padding:25px;
    text-align:center;
    border:2px solid #9ff6ff;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    box-shadow:0 0 15px #9ff6ff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card img{
    width:240px;
    height:180px;
    border-radius:15px;
    border:2px solid #9ff6ff;
}

.card h2{
    color:#72e4ff;
    margin:15px 0;
    text-shadow:1px 1px 2px black;
}

.card p{
    color:white;
    line-height:1.8;
    text-align:left;
}

button{
    margin-top:20px;
    padding:12px 35px;
    border:none;
    border-radius:30px;
    background:#3db7d8;
    color:white;
    font-size:16px;
    box-shadow:0 4px 8px rgba(0,0,0,0.4);
}

footer{
    background:linear-gradient(to right,#2995b8,#74c7df);
    text-align:center;
    padding:15px;
    color:white;
    border-top:2px solid #222;
}

footer p{
    margin:8px 0;
}